<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-header">
        <a href="/" class="navbar-brand"><span class="brand-title">Hot Towel Angular</span></a>
        <a class="btn navbar-btn navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
    </div>
    <div class="navbar-collapse collapse" data-ng-controller="topnav as vm">
        <div class="pull-right navbar-logo" style="padding-right: 20px;">
            <div class="topnav-text" ng-hide="!vm.authentication.isAuth">
                <span><i class="fa fa-user"></i>&nbsp{{vm.authentication.userName}}</span>
            </div>
            <ul class="nav navbar-nav pull-right">
                <li class="nlightblue fade-selection-animation" data-ng-class="vm.isCurrent(r)"
                    data-ng-repeat="r in vm.navRoutes">
                    <a ng-class="(r.config.settings.nav==1) ? 'first':''" href="#{{r.url}}" data-ng-bind-html="r.config.settings.content" ng-hide="{{r.config.settings.hide}}vm.authentication.isAuth" ng-click="vm.logOut(r.config.settings.nav)"></a>
                </li>
            </ul>
        </div>
    </div>
</nav>